<% include partials/header %>

<h1>Search a movie!</h1>

<form action="/movies" method="GET">
<input type="text" name="search" placeholder="search">
<input type="submit">
</form>



<% include partials/footer %>
